*resharper.user
[Dd]ebug
[Rr]elease
[Bb]in
[Oo]bj
deploy
deploy/*
build
artifacts
src/ALS.SelfService/Web.config
src/CommonAssemblyInfo.cs
*.suo
*.cache
_ReSharper.*/
*[Rr]e[Ss]harper*
*.user
.git/
*.pidb
src/packages
*combined_*.js
*combined_*.css
src/ALS.SelfService/Resources/Styles/site.less.debug.css
src/ALS.SelfService/Resources/Styles/Admin/admin.less.debug.css
results
.bottle-alias
fubu-content
repositories.config
/src/ALS.SelfService/.links
bottles.cmd
fubu.cmd
